aside {
    margin-top: 30px;
    -webkit-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
    -moz-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
    box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);

    .content-title {
        padding: 5px;
        background-color: #fff;

        h3 {
            a {
                color: #34495E;
                text-decoration: none;
                transition: 0.5s;
                font-size: 1.3rem;

                &:hover {
                    color: #F39C12;
                }
            }
        }
    }

    .content-footer {
        background-color: #2ecc71;
        padding: 10px;
        position: relative;

        span a {
            color: #fff;
            display: inline-block;
            padding: 6px 5px;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
                color: #F39C12;
            }
        }

        .user-ditels {
            width: 300px;
            top: -100px;
            height: 100px;
            padding-bottom: 99px;
            position: absolute;
            border: solid 2px #fff;
            background-color: #34495E;
            right: 25px;
            display: none;
            z-index: 1;
        }

        img {
            width: 33px;
            height: 33px;
            border-radius: 100%;
            margin-right: 10px;
            border: 2px solid #fff;
        }
    }
}
