<div class="widget-sidebar">
    <h2 class="title-widget-sidebar">RECENT POST</h2>
    <div class="content-widget-sidebar">
        <ul>
            <li class="recent-post">
                <div class="post-img">
                    <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                </div>
                <a href="#"><h5 class="post-title">Excepteur sint occaecat cupi non proident laborum.</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
            </li>
            <li class="recent-post">
                <div class="post-img">
                    <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                </div>
                <a href="#"><h5 class="post-title">Excepteur sint occaecat cupi non proident laborum.</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
            </li>
            <li class="recent-post">
                <div class="post-img">
                    <img src="https://lh3.googleusercontent.com/-UKfIhJSBW9M/WM1ZI8ou34I/AAAAAAAADeo/vlLGY29147AYLaxUW29ZXJlun115BhkhgCJoC/w424-h318-n-rw/thumbnail7.jpg" class="img-responsive">
                </div>
                <a href="#"><h5 class="post-title">Excepteur sint occaecat cupi non proident laborum.</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
            </li>
        </ul>
    </div>
</div>