:host {
    background-color: #34495E;
    border-bottom: 1px solid rgba( 0,0,0,0.08 );
    display: block;
}

nav {
    padding: 0;
}

.nav-item {
    padding: 0 12px;
}

.nav-link {
    padding-top: 18px;
    padding-bottom: 18px;
    max-height: none;
    transition: .3s padding ease-in-out;
    text-transform: uppercase;
}