<div class="home-menu">
    <div class="row">
        <div class="col-lg-5 col-md-5 pdr0">
            <div class="topic-background topic-code">
                <div class="topic-content">
                    <div class="title">LEARN TO CODE</div>
                    <div class="description">Develop websites and apps with the latest programming skills.</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 pdlr0">
            <div class="col-lg-12 pdlr0">
                <div class="topic-background topic-webdesign">
                    <div class="topic-content">
                        <div class="title">LEARN WEB DESIGN</div>
                        <div class="description">Develop websites and apps with the latest programming skills.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pdlr0">
                <div class="topic-background topic-design-illustration">
                    <div class="topic-content">
                        <div class="title">LEARN DESIGN & ILLUSTRATION</div>
                        <div class="description">Develop websites and apps with the latest programming skills.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 pdl0"></div>
    </div>
</div>
<ngb-tabset>
    <ngb-tab title="Tutorials">
        <ng-template ngbTabContent>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Courses">
        <ng-template ngbTabContent>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
                <div class="col-lg-3 col-md-3">
                    <post-item></post-item>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>