<nav-bar></nav-bar>
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <router-outlet></router-outlet>
            </div>
            <!--<div class="col-sm-4">
                <recent-post-widget></recent-post-widget>
                <categories-widget></categories-widget>
                <archieves-widget></archieves-widget>
                <newletter-widget></newletter-widget>
            </div>-->
        </div>
    </div>
</div>
